{% extends 'layout.twig' %}

{% block body %}
    <h1>Longpolling test: send message</h1>
    <input id="message" value="hello world"/>
    <div id="send" class="btn btn-info" onclick="sendMessage();">Send</div>
  <script>
    function sendMessage() {
      $.get("/push?msg=" + $('#message').val());
    }
  </script>
{% endblock %}
